#f-btn{
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}

.f-img img {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    object-fit: cover;
    transition: filter 0.3s;
}

.f-img img.blurred {
    filter: blur(5px); /* Adjust blur intensity as needed */
}
.f_list_detail{
    margin: 0px;
    padding: 0px;
    >h6{
        font-size: 21px;
    }
}
@media (max-width:1200px) and (min-width:1076px) {
    .f-img img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        object-fit: cover;
        transition: filter 0.3s;
    }
}
@media (max-width:1076px) and (min-width:1072px) {
    .f-img img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        object-fit: cover;
        transition: filter 0.3s;
    }
    #f-btn{
        display: flex;
        justify-content: space-around;
        font-size: 18px;
    }
    .f_list_detail{
        margin: 0px;
        padding: 0px;
        >h6{
            font-size: 18px;
        }
    }
   
}
@media (max-width:1072px) and (min-width:970px) {
    .f-img img {
        width: 130px;
        height: 130px;
        border-radius: 50%;
        object-fit: cover;
        transition: filter 0.3s;
    }
    #f-btn{
        display: flex;
        justify-content: space-around;
        font-size: 16px;
    }
    .f_list_detail{
        margin: 0px;
        padding: 0px;
        >h6{
            font-size: 16px;
        }
    }
   
}
@media (max-width:970px) and (min-width:200px) {
    .f-img img {
        width: 130px;
        height: 130px;
        border-radius: 50%;
        object-fit: cover;
        transition: filter 0.3s;
    }
    .f-img p{
        font-size: 14px;
        margin: 0;
        padding: 0;
    }
    #f-btn{
        display: flex;
        justify-content: space-around;
        font-size: 14px;
        margin: 0px;
        padding: 0px;
    }
    .f_list_detail{
        margin: 0px;
        padding: 0px;
        >h6{
            font-size: 14px;
        }
    }
   
}
@media (max-width:430px) and (min-width:200px) {
    .f-img img {
        width: 90px;
        height: 90px;
        border-radius: 50%;
        object-fit: cover;
        transition: filter 0.3s;
    }
    .f-img p{
        font-size: 12px;
        margin: 0;
        padding: 0;
    }
    #f-btn{
        display: flex;
        justify-content: space-around;
        font-size: 12px;
        margin: 0px;
        padding: 0px;
    }
    .f_list_detail{
        margin: 0px;
        padding: 0px;
        >h6{
            font-size: 12px;
        }
    }
   
}