#home{
    position: relative; 
    height: 100vh;
    width: 100%;
    max-width: 100vw;

   
}
#home::before{
    content: "";
    background: url(../../Images/cafe\ home\ bg.jpeg);
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 70%;
}
#home-container{
    position: relative;
   color: #0a0a0a;  
 
 }
 .category{
    >h3{
        text-align: center;
    }

 }
 #item-container{
    display: flex;
    flex-wrap: wrap;
    gap: 25px 50px;
 }
 #item-box{
    background: #D9D9D9;
    height: 320px;
    width: 270px;
    border-radius: 15px;
    text-align: center;
    padding-top: 20px;
    cursor: pointer;
 }
 .f-img{
    >img{
        height: 170px;
        width: 170px;
        border-radius: 50%;
    }
 }
 #f-detail{
    text-align: center;
    padding-top: 0px;
    >h6{
        font-size: 21px;
        padding-top: 30px;
    }
   
 }


 @media (max-width:1278px) and (min-width:1198px) {
    #item-container{
        display: flex;
        flex-wrap: wrap;
        gap: 25px 20px;
     }
 }

 @media (max-width:1198px) and (min-width:1075px) {
    #item-container{
        display: flex;
        flex-wrap: wrap;
        gap: 25px 20px;
     }
    #item-box{
        background: #D9D9D9;
        height: 270px;
        width: 240px;
        border-radius: 15px;
        text-align: center;
        padding-top: 20px;
        cursor: pointer;
     }
 }
 @media (max-width:1075px) and (min-width:970px) {
    #item-container{
        display: flex;
        flex-wrap: wrap;
        gap: 25px 10px;
     }
    #item-box{
        background: #D9D9D9;
        height: 250px;
        width: 240px;
        border-radius: 15px;
        text-align: center;
        padding-top: 20px;
        cursor: pointer;
     }
     .f-img{
        >img{
            height: 140px;
            width: 140px;
            border-radius: 50%;
        }
     }
 }
 @media (max-width:970px) and (min-width:450px) {
    #item-container{
        display: flex;
        flex-wrap: wrap;
        gap: 25px 10px;
     }
    #item-box{
        background: #D9D9D9;
        height: 280px;
        width: 190px;
        border-radius: 15px;
        text-align: center;
        padding-top: 16px;
        cursor: pointer;
     }
     .f-img{
        >img{
            height: 120px;
            width: 120px;
            border-radius: 50%;
        }
     }
     #f-detail{
        text-align: center;
        padding-top: 0px;
        >h6{
            font-size: 18px;
        }
       
     }
 }
 
 @media (max-width:650px) and (min-width:530px) {
    #item-container{
        display: flex;
        flex-wrap: wrap;
        gap: 25px 30px;
        margin-left: 100px;
     }
     .home-logo{
        font-size: 16px;
     }
    #item-box{
        background: #D9D9D9;
        height: 280px;
        width: 190px;
        border-radius: 15px;
        text-align: center;
        padding-top: 16px;
        cursor: pointer;
     }
     .f-img{
        >img{
            height: 120px;
            width: 120px;
            border-radius: 50%;
        }
     }
     #f-detail{
        text-align: center;
        padding-top: 0px;
        >h6{
            font-size: 18px;
        }
       
     }
 }
 @media (max-width:530px) and (min-width:470px) {
    #item-container{
        display: flex;
        flex-wrap: wrap;
        gap: 25px 30px;
        margin-left: 40px;
     }
    #item-box{
        background: #D9D9D9;
        height: 260px;
        width: 190px;
        border-radius: 15px;
        text-align: center;
        padding-top: 16px;
        cursor: pointer;
     }
     .f-img{
        >img{
            height: 120px;
            width: 120px;
            border-radius: 50%;
        }
     }
     #f-detail{
        text-align: center;
        padding-top: 0px;
        >h6{
            font-size: 18px;
        }
       
     }
     .home-logo{
        font-size: 14px;
     }
 }
 @media (max-width:470px) and (min-width:430px) {
    #item-container{
        display: flex;
        flex-wrap: wrap;
        gap: 25px 30px;
        margin-left: 0px;
     }
    #item-box{
        background: #D9D9D9;
        height: 240px;
        width: 190px;
        border-radius: 15px;
        text-align: center;
        padding-top: 16px;
        cursor: pointer;
     }
     .home-logo{
        font-size: 14px;
     }
     .f-img{
        >img{
            height: 120px;
            width: 120px;
            border-radius: 50%;
        }
     }
     #f-detail{
        text-align: center;
        padding-top: 0px;
        >h6{
            font-size: 18px;
        }
       
     }
 }

 @media (max-width:430px) and (min-width:390px) {
    #item-container{
        display: flex;
        flex-wrap: wrap;
        gap: 15px 40px;
        margin-left: 50px;
     }
    #item-box{
        background: #D9D9D9;
        height: 220px;
        width: 140px;
        border-radius: 15px;
        text-align: center;
        padding-top: 12px;
        cursor: pointer;
     }
     .f-img{
        >img{
            height: 100px;
            width: 100px;
            border-radius: 50%;
        }
     }
     .home-logo{
        font-size: 14px;
     }
     #f-detail{
        text-align: center;
        padding-top: 0px;
        >h6{
            padding-top: 10px;
            font-size: 14px;
        }
       
     }
 }
 @media (max-width:390px) and (min-width:340px) {
    #item-container{
        display: flex;
        flex-wrap: wrap;
        gap: 15px 20px;
        margin-left: 20px;
     }
    #item-box{
        background: #D9D9D9;
        height: 200px;
        width: 140px;
        border-radius: 15px;
        text-align: center;
        padding-top: 12px;
        cursor: pointer;
     }
     .home-logo{
        font-size: 12px;
     }
     .f-img{
        >img{
            height: 100px;
            width: 100px;
            border-radius: 50%;
        }
     }
     #f-detail{
        text-align: center;
        padding-top: 0px;
        >h6{
            padding-top: 10px;
            font-size: 14px;
        }
       
     }
 }
 @media (max-width:340px) and (min-width:280px) {
    #item-container{
        display: flex;
        flex-wrap: wrap;
        gap: 15px 0px;
        margin-left: 70px;
     }
    #item-box{
        background: #D9D9D9;
        height: 200px;
        width: 180px;
        border-radius: 15px;
        text-align: center;
        padding-top: 12px;
        cursor: pointer;
     }
     .f-img{
        >img{
            height: 130px;
            width: 130px;
            border-radius: 50%;
        }
     }
     .home-logo{
        font-size: 14px;
     }
     #f-detail{
        text-align: center;
        padding-top: 0px;
        >h6{
            padding-top: 10px;
            font-size: 16px;
        }
       
     }
 }
 @media (max-width:280px) and (min-width:200px) {
    #item-container{
        display: flex;
        flex-wrap: wrap;
        gap: 15px 0px;
        margin-left: 40px;
     }
    #item-box{
        background: #D9D9D9;
        height: 200px;
        width: 180px;
        border-radius: 15px;
        text-align: center;
        padding-top: 12px;
        cursor: pointer;
     }
     .f-img{
        >img{
            height: 130px;
            width: 130px;
            border-radius: 50%;
        }
     }
     .home-logo{
        font-size: 10px;
     }
     #f-detail{
        text-align: center;
        padding-top: 0px;
        >h6{
            padding-top: 10px;
            font-size: 16px;
        }
       
     }
 }