#Profile{
    position: relative; 
    height: 100vh;
    width: 100%;
    max-width: 100vw;
}
#profile::before{
    content: "";
    background: url(../../Images/cafe\ add\ bg.jpg);
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 60%;
}
#profile-box{
    height: 400px;
    max-width: 800px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    position: relative; 
    gap: 30px; 
    /* background: #D9D9D9;
    background-blend-mode: multiply;
    opacity: 30%; */
}
#profile-box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 50px;
    /* max-width: 500px;
    width: 100%; */
}
#profile-box-container:before{
    content: "";
    top: 20px;
    right: 350px;
    bottom: 0px;
    left: 350px;
    position: absolute;
    background: #D9D9D9;
    background-blend-mode: multiply;
    opacity: 30%;
}
#profile-img{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    >img{
        height: 150px;
    width: 150px;
    border-radius: 50%;
    cursor: pointer;
    }
}
#profile-field{
    >input,select{
        width: 450px;
        height: 50px;
        border-radius: 10px;
        outline: none;
    }
    >input::placeholder{
        color: black;
        text-transform: uppercase;
    }
}
#profile-btn{
    >button{
        max-width: 400px;
        width: 100%;
        height: 30px;
        padding: 5px 60px;
        background: rgb(150, 149, 149);
        border-radius: 20px;
        
    }
}
@media (max-width:1171px) and (min-width:980px) {
    #profile-box-container:before{
        content: "";
        top: 20px;
        right: 250px;
        bottom: 0px;
        left: 250px;
        position: absolute;
        background: #D9D9D9;
        background-blend-mode: multiply;
        opacity: 30%;
    }
}
@media (max-width:980px) and (min-width:768px) {
    #profile-box-container:before{
        content: "";
        top: 20px;
        right: 120px;
        bottom: 0px;
        left: 120px;
        position: absolute;
        background: #D9D9D9;
        background-blend-mode: multiply;
        opacity: 30%;
    }
}
@media (max-width:768px) {
    #profile-box-container:before{
        content: "";
        top: 20px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        position: absolute;
        background: #D9D9D9;
        background-blend-mode: multiply;
        opacity: 30%;
    }
}
@media (max-width:500px) {
    #profile-box{
        height: 300px;
        max-width: 800px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;  
        position: relative; 
        gap: 30px; 
        /* background: #D9D9D9;
        background-blend-mode: multiply;
        opacity: 30%; */
    }
    #profile-box-container:before{
        content: "";
        top: 20px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        position: absolute;
        background: #D9D9D9;
        background-blend-mode: multiply;
        opacity: 30%;
    }
    #profile-img{
        padding-top: 10px;
        >img{
            height: 100px;
        width: 100px;
        border-radius: 50%;
        cursor: pointer;
        }
    }
    #profile-field{
        >input,select{
            width: 350px;
            height: 40px;
            border-radius: 10px;
            outline: none;
        }
        >input::placeholder{
            color: black;
            text-transform: uppercase;
        }
    }
    #profile-btn{
        >button{
            max-width: 400px;
            width: 100%;
            height: 30px;
            padding: 5px 60px;
            background: rgb(150, 149, 149);
            border-radius: 20px;
            
        }
    }
}
@media (max-width:370px) {
    #profile-box{
        height: 300px;
        max-width: 800px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;  
        position: relative; 
        gap: 30px; 
        /* background: #D9D9D9;
        background-blend-mode: multiply;
        opacity: 30%; */
    }
    #profile-box-container:before{
        content: "";
        top: 20px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        position: absolute;
        background: #D9D9D9;
        background-blend-mode: multiply;
        opacity: 30%;
    }
    #profile-img{
        padding-top: 10px;
        >img{
            height: 100px;
        width: 100px;
        border-radius: 50%;
        cursor: pointer;
        }
    }
    #profile-field{
        >input,select{
            width: 250px;
            height: 40px;
            border-radius: 10px;
            outline: none;
        }
        >input::placeholder{
            color: black;
            text-transform: uppercase;
        }
    }
    #profile-btn{
        >button{
            max-width: 200px;
            width: 100%;
            height: 30px;
            padding: 5px 30px;
            background: rgb(150, 149, 149);
            border-radius: 20px;
            
        }
    }
}